$color--accent: #F54932;

$color--text-dark: #313131;
$color--text-light: #FFFFFF;
$color--text-accent: #F54932;
$color--text-additional: #3057A2;

$color--btn-default: #1F1F1F;
$color--btn-active: #FBCE51;
$color--btn-disabled: #D6D6D6;
$color--btn-additional: #3057A2;